<ion-header>
    <ion-toolbar>
    <ion-title>Home Page</ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <ion-input [(ngModel)]="newItem" placeholder="Add a favorite item"></ion-input>
    <ion-button expand="block" (click)="addFavorite()">Add to Storage</ion-button>
    <ion-list>
    <ion-item *ngFor="let item of favorites">{{ item }}</ion-item>
    </ion-list>
    <ion-button expand="block" (click)="fetchData()">Fetch JSON Data</ion-button>
    <ion-list>
    <ion-item *ngFor="let user of users">
    
          {{ user.name }} ({{ user.email }})
    </ion-item>
    </ion-list>
    <ion-button expand="block" routerLink="/details">Go to Details Page</ion-button>
    </ion-content>
     